*{
    font-family: sans-serif;
    color:aliceblue;
    font-size: 15px;
}

body{
    margin: 0;
    background-image: url(/assets/windows.jpeg);
    background-size:cover;
}

.container{
    min-height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    box-sizing: border-box;
}

.calculator{
    width: 90%;
    max-width: 320px;
    padding: 5px;
    background-color: #1f1e1efa;
    border-radius: 1px;
    box-shadow: 10px 5px 0px 0px #1a274fb5;
}

header{
    margin-left: 15px;
}

.title1{
    display:flex;
    margin: 6px;
}

.calculator-img{
    height: 16px;
    width: 16px;
    margin: 0 10px 5px -8px;
}

span{
    font-size: 12px;
}

.title2{
    display: flex;
    width: 100%;
    justify-content:space-between;
    height: 20px;
}

.button-menu {
    width: 16px;
    height: 16px;
    border: none;
    display: flex;
    background: none;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    margin-right:-180px;
}

.button-menu span {
    width: 15px;
    height: 1px;
    background: #b8adad;
    border-radius: 2px;
    margin-bottom: 3px;
}

.fa-clock-rotate-left{
    margin-right:12px;
    background-color: #1f1e1efa;
    
}

.display{
    text-align: right;
    background-color: #201f1ffa;
    height: 60px;
    padding: 20px;
    margin-bottom: 5px;
}

.value{
    font-size: 30px;
    margin-top: 20px;
}  

.prevalue{
    font-size: 15px;
    color: #bcb6b6e4;
}

.memory-btns{
    display: flex;
    width: 100%;
    height: 25px;
    justify-content: space-around;
}

.m-btn{
    font-size: 13px;
}

.keys{
    display: grid;
    grid-template-columns: repeat(4,1fr);
}

button{
    height: 50px;
    margin: 1px;
    border-radius: 3px;
    cursor:pointer;
    border:none;
    display: inline-block;
}

button:hover{
    background-color: #a2a4a7c0;
}

button:active{
    background-color: #53515152;
}

.operator {
    background-color: #5e5b5b52;
}

.fa-solid{
    background-color: #5e5b5b52;
}

.number {
    background-color: #686565ab;
}

.fa-equals{
    background-color: #5c6ab4de;
}

.fa-equals:hover{
    background-color: #7581c5da;
}